.worldclass{
    color:black;
    /* background-image: url("worldchildren.jpg");
    background-size: cover;
    height: 550px; */
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.content { 
    padding-left:10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

.mat-elevation-z4:hover{
      transform: scale(1.4);
      background-color: rgb(14, 164, 184);
  }

.mat-elevation-z4{
    margin:40px;
}
  
.content > mat-card { 
    width: 50px; 
    margin:0px,10px;
}